body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  float: left;
  width: 10em;
  margin-right: 1em;
  }

.vote {
  float: right;
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 20px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0 -25px;
} 


.vote.on {
  background-position: 0 2px;
}

.voteCount {
  float: right;
}

#adminSubs {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#adminSubs td, #adminSubs th {
  border: 1px solid #ddd;
  padding: 8px;
}

#adminSubs tr:nth-child(even){background-color: #f2f2f2;}

#adminSubs tr:hover {background-color: #ddd;}

#adminSubs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}